.auth {
    display: flex;
    flex-direction: column;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
    height: 1200px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}