table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
}

tr:first-child {
    position: sticky;
    top: 0;
    background-color: #000058;
}

td, th {
    text-align: center;
    font-size: large;
    font-size: medium;
}

tr:hover {
    background-color:#3C3CA8;
}

.loadingTable {
    text-align: center;
}