body {
    background-color: #001f3f;
    color: white;
}

.title {
    text-align: left;
    margin: 0 auto;
}

.bannerWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.coin-selection {
    padding-left: 1px;
    padding-right: 1px;
}

.livePrice {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.clock {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
}

.fullDayData {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.mainWrapper {
    display: flex;
    justify-content: space-evenly;
}

.chat {
    width: 50vh;
    height: 75vh;
    overflow-y: scroll;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.chatWrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-auto-flow: column;
}

.analysisWrapper {
    display: flex;
}