table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 85%;
    border: none;
}

tr:first-child {
    position: sticky;
    top: 0;
    background-color: #000058;
}

td, th {
    text-align: center;
    font-size: large;
    font-size: medium;
}

tr {
    transition:0.25s;
    box-shadow: inset 0 0 0 2px;
}

tr:hover {
    transform: scale(1.1, 1.05);
    transform-origin: center;
    background-color:#3C3CA8;
}

.loadingTable {
    text-align: center;
}