.cryptoTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-collapse: collapse;
    width: 80vw;
    border: none;
}

.cryptoTable tr:first-child {
    position: sticky;
    top: 0;
    background-color: #000058;
}

.cryptoTable td, th {
    text-align: center;
    font-size: 1.2vmin;
}

.cryptoTable tr {
    transition:0.25s;
    box-shadow: inset 0 0 0 2px;
}

.cryptoTable tr:hover {
    transform: scale(1.1, 1.05);
    transform-origin: center;
    background-color:#3C3CA8;
}

.loadingTable {
    text-align: center;
}